---
http_interactions:
- request:
    method: post
    uri: https://testbed.echo.nasa.gov/echo-v10/AuthenticationServicePortImpl
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><SOAP-ENV:Header/><SOAP-ENV:Body><ns2:GetProviderContextToken
        xmlns:ns2="http://echo.nasa.gov/echo/v10" xmlns:ns3="http://echo.nasa.gov/echo/v10/types"
        xmlns:ns4="http://echo.nasa.gov/ingest/v10"><ns2:token>access_token</ns2:token><ns2:clientInfo><ns3:ClientId>MMT</ns3:ClientId><ns3:UserIpAddress/></ns2:clientInfo><ns2:behalfOfProvider>MMT_2</ns2:behalfOfProvider></ns2:GetProviderContextToken><to_str/></SOAP-ENV:Body></SOAP-ENV:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message:
    headers:
      soapaction:
      - '""'
      content-type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"><SOAP-ENV:Header/><SOAP-ENV:Body><ns3:GetProviderContextTokenResponse
        xmlns:ns2="http://echo.nasa.gov/echo/v10/types" xmlns:ns3="http://echo.nasa.gov/echo/v10"
        xmlns:ns4="http://echo.nasa.gov/echo/v10/faults"><ns3:result>access_token</ns3:result></ns3:GetProviderContextTokenResponse></SOAP-ENV:Body></SOAP-ENV:Envelope>
  recorded_at: Tue, 15 Nov 2016 14:40:33 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/oauth/token?grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic authorization==
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - '"55070640ba17db7ac5b873164c11ba1b"'
    body:
      encoding: UTF-8
      string: '{"access_token":"access_token","token_type":"Bearer","expires_in":3600}'
  recorded_at: Mon, 07 Mar 2016 20:02:38 GMT
recorded_with: VCR 2.9.3
